<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Profile</a>
            </div>
            <div class="col-lg-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="jgr-glyph-href" ng-click="model.updateUser()" role="button">
                        <span class="pull-right glyphicon glyphicon-check"></span></a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <div ng-show="model.successMessage" class="alert alert-success">
        {{model.successMessage}}
    </div>
    <label for="firstName">First Name</label>
    <input name="firstName"
           ng-model="model.user.firstName"
           placeholder="John"
           type="text"
           class="form-control"
           id="firstName">

    <label for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="model.user.lastName"
           placeholder="Doe"
           type="text"
           class="form-control"
           id="lastName">

    <label for="username">Username</label>
    <input name="username"
           readonly
           ng-model="model.user.username"
           type="text"
           class="form-control"
           id="username">

    <a class="btn btn-default btn-primary btn-block"
       href="#!/user/{{model.user._id}}/books"
       role="button">Books I've read</a>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Logout</a>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.updateUser()"
       role="button">Update User</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteUser()"
       role="button">Unregister</a>

    Enter friend's username to add as friend:
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.addFriend(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </span>
    </div>
    Friends:
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="friend in model.user.friends">
            {{friend.firstName}}
        </li>
    </ul>

</div>
<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="jgr-glyph-href" href="#!/user/{{model.user._id}}/">
                <span class="pull-right glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>