input, textarea{
    margin-bottom: 5px;
}
.navbar-static-bottom {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.navbar-default {
    background-color: crimson;
    border-color: darkred;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.jgr .jgr-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}


@media (min-width: 1200px) {
    .col-lg-9.jgr-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

a.jgr-glyph-href {
    color: white;
}
/* Remove underline from links. TODO: Figure out why it doesn't work without !important */
a {
    text-decoration: none!important;
}

iframe {
    padding-top: 5px;
    width: auto;
    height: auto;
}

ul {
    list-style: armenian;
}