<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <ul class="nav navbar-nav navbar-left hidden-xs">
                    <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">
                        <span class="pull-left glyphicon glyphicon-chevron-left"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Widgets</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<!---Design wise I feel there needs to be some user input before creating a widget. Otherwise you could create totally empty widgets, which could get confusing--->
<div class="container-fluid">
    <label for="text">Widget Description</label>
    <input name="text"
           ng-model="widget.text"
           placeholder="Enter a description so you can find the widget later"
           type="text"
           class="form-control"
           id="text">
</div>

<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-12">Widget</div>
            </div>

        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a ng-click="model.newWidget(model.heading, widget)" role="button">Header</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Label</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">HTML</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Text Input</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Link</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Button</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a ng-click="model.newWidget(model.image, widget)" role="button">Image</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a ng-click="model.newWidget(model.youtube, widget)" role="button">Youtube</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Data Table</a></div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12"><a href="#">Repeater</a></div>
            </div>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="jgr-glyph-href" href="#!/user/{{model.userId}}/">
                <span class="pull-right glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>