<div class="container-fluid">
    <ul>
        <li ng-repeat="book in model.user.books">
            <div class="list-group-item col-lg-10 col-xs-10" >
                <a href="#!/user/{{model.userId}}/books/{{book}}"> {{book}} </a>
            </div>
            <div class="col-lg-2 col-xs-2">
                <a ng-click="model.removeBook(book)">
                <span class="pull-right glyphicon glyphicon-pencil"></span></a>
            </div>
        </li>
    </ul>
</div>
<div class="container-fluid">
<a class="btn btn-default btn-primary btn-block"
   href="#!/user/{{model.userId}}/books/add"
   role="button">Add a Book</a>
</div>