<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Books I've Read</a>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xs-6" >
            <b>Title:</b>
        </div>
        <div class="col-lg-4 col-xs-4" >
            <b>Page count:</b>
        </div>
        <div class="col-lg-2 col-xs-2">
            <b>Remove?</b>
        </div>
    </div>

    <ul class="list-group">
        <li ng-repeat="book in model.user.books" class="list-group-item">
            <div class="row">
                <div class="col-lg-6 col-xs-6" >
                <a href="#!/user/books/{{book._id}}"> {{book.title}} </a>
                </div>
                <div class="col-lg-4 col-xs-4" >
                    {{book.pageCount}}
                </div>
                <div class="col-lg-2 col-xs-2">
                    <a ng-click="model.removeBook(book)">
                        <span class="pull-right glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="container-fluid">
<a class="btn btn-default btn-primary btn-block"
   href="#!/user/books/add"
   role="button">Add a Book</a>


<a class="btn btn-default btn-danger btn-block"
   href="#!/user"
   role="button">Back</a>
</div>