<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Add a book</a>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <h3>
        Search by ISBN
    </h3>
    <p>
        By using the ISBN found in the book you have just completed, we can insure that the correct edition is stored on your account. Enter only numbers in the search box below. (No dashes)
    </p>
    
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchBooks(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="book in model.books" class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a ng-click="model.addBook(book)" type="button"> {{book.volumeInfo.title}} </a>
                    </div>
                    <div class="col-xs-8">
                        {{book.volumeInfo.description}}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/user/books/"
       role="button">Back</a>
</div>
