<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Add a book</a>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="jumbotron">
        <h3>
            Search by ISBN</h3>
        <p>
            By using the ISBN found in the book you have just completed, we can insure that the correct edition is stored on your account.
            Enter only numbers in the search box below. (No dashes) If the book is not found by the entered number you can try again or
            search by title instead.</p>
    </div>

    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchBooksByISBN(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div ng-show="model.books === '0'">
        <div class="jgr-error-msg jgr-top-buffer">
            <div class="alert alert-danger" role="alert">Could not find a book with that ISBN</div>
        </div>
        <div class="alert alert-info" role="alert">Try searching by the title instead:</div>
        <div class="input-group">
            <input ng-model="searchText1"
                   type="text"
                   class="form-control">
            <span class="input-group-btn">
                <a ng-click="model.searchBooksByTitle(searchText1)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>
    </div>

    <ul ng-repeat="book in model.books" class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    <a ng-click="model.addBook(book)" type="button"> {{book.volumeInfo.title}} </a>
                </div>
                <div class="col-xs-8">
                    {{book.volumeInfo.description}}
                </div>
            </div>
        </li>
    </ul>

    <hr>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/user/books/"
       role="button">Back</a>
</div>
