<div class="container-fluid">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchBooksByISBN(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="row">
        <div class="col-xs-4" ng-repeat="book in model.books">
            <a href="#!/test/{{book.volumeInfo.industryIdentifiers[0].identifier}}"> {{book.volumeInfo.title}} </a>
        </div>
    </div>


</div>