<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-xs-2">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../../page/templates/page-list.view.client.html">
                        <span class="pull-left glyphicon glyphicon-chevron-left"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-10 col-xs-8">
                <a class="navbar-brand" href="#">Widgets</a>
            </div>
            <div class="col-lg-1 col-xs-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="widget-choose.view.client.html">
                        <span class="pull-right glyphicon glyphicon-plus-sign"></span></a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div ng-repeat="widget in model.widgets" class="row">
        <div class="col-lg-10 col-xs-10">
            <h3>{{widget.text}}</h3></div>
        <div class="col-lg-2 col-xs-2">
            <div ng-repeat="widget in model.widgets">
                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <ng-include src="'widget-heading.view.client.html'">
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'widget-image.view.client.html'">
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'widget-youtube.view.client.html'">
                    </div>
                </div>
            </div>

        </div>
        <!--
        <div class="col-lg-2 col-xs-2">
                <a href="widget-heading.html">
                    <span class="pull-right glyphicon glyphicon-pencil"></span></a>
            </div> -->
    </div>
</div>

<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="jgr-glyph-href" href="../../user/templates/profile.view.client.html">
                <span class="pull-right glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>
