
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-xs-2">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/" role="button">
                            <span class="pull-left glyphicon glyphicon-chevron-left"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-10 col-xs-8">
                    <a class="navbar-brand" href="#">Image Widget</a>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="model.updateWidget()" role="button">
                            <span class="pull-right glyphicon glyphicon-check"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

<div class="container-fluid">

    <label for="widgetname">Name</label>
    <input name="widgetname"
           type="text"
           class="form-control"
           value="Widget Name"
           id="widgetname">

    <label for="widgettext">Text</label>
    <input name="widgettext"
           value="This is text for an image widget"
           type="text"
           class="form-control"
           id="widgettext">

    <label for="widgeturl">URL</label>
    <input name="widgeturl"
           ng-model="model.widget.url"
           type="text"
           class="form-control"
           id="widgeturl">

    <label for="widgetwidth">Width</label>
    <input name="widgetwidth"
           ng-model="model.widget.width"
           type="text"
           class="form-control"
           id="widgetwidth">


    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>


    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>

    <a class="btn btn-default btn-primary btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.wgid}}/search"
       role="button">Search</a>


</div>


<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="jgr-glyph-href" href="#!/user/{{model.userId}}/">
                <span class="pull-right glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>