<ul>
    <li ng-repeat="widget in model.widgets">
        <div ng-switch="widget.type">
            <div ng-switch-when="HEADING">
                <div class="container-fluid">
                    <div class="col-lg-10 col-xs-10">
                        <div ng-include="'/assignment/widget/templates/widget-list.component-HEADING.client.html'">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/">
                            <span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            <div ng-switch-when="IMAGE">
                <div class="container-fluid">
                    <div class="col-lg-10 col-xs-10">
                        <div ng-include="'/assignment/widget/templates/widget-list.component-IMAGE.client.html'">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/">
                            <span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            <!---TODO: verify this works at the end--->
            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <div class="container-fluid">
                    <div class="col-lg-10 col-xs-10">
                        <div ng-include="'/assignment/widget/templates/widget-list.component-YOUTUBE.client.html'">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/">
                            <span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            <div ng-switch-when="HTML">
                <div class="container-fluid">
                    <div class="col-lg-10 col-xs-10">
                        <div ng-include="'/assignment/widget/templates/widget-list.component-HTML.client.html'">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-2">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/">
                            <span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
            <div ng-switch-when="TEXT">
                <div class="container-fluid">
                    <div class="col-lg-11 col-xs-11">
                        <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                                                                ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                                                                ['indent','outdent'],['html']]"></div>

                        <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                               placeholder="{{widget.textInput.placeholder}}" class="form-control"/>

                        <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                                  class="form-control">{{widget.text}}</textarea>
                    </div>

                </div>
                    <div class="col-lg-1 col-xs-1">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/">
                            <span class="pull-right glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>

        </div>
    </li>
</ul>