
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-xs-2">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="website-list.view.client.html">
                            <span class="pull-left glyphicon glyphicon-chevron-left"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-10 col-xs-8">
                    <a class="navbar-brand" href="#">New Website</a>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="website-list.view.client.html">
                            <span class="pull-right glyphicon glyphicon-check"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!--left side-->
            <div class="col-xs-3 visible-lg jgr-split-view-left"><ul class="list-group">

                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a class="jgr-glyph-href" href="website-new.view.client.html">
                                <span class="pull-right glyphicon glyphicon-plus-sign"></span>
                            </a>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Wikipedia</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html">
                                <span class="pull-right glyphicon glyphicon-pencil"> </span></a></div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Facebook</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html">
                                <span class="pull-right glyphicon glyphicon-pencil"> </span></a></div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Instagram</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html">
                                <span class="pull-right glyphicon glyphicon-pencil"> </span></a></div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Ebay</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html">
                                <span class="pull-right glyphicon glyphicon-pencil"> </span></a></div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">CNN</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html">
                                <span class="pull-right glyphicon glyphicon-pencil"> </span></a></div>
                    </div>
                </li>
            </ul></div>
            <!--right side-->
            <div class="col-xs-12 col-lg-9 jgr-split-view-right">
                <label for="name">Name</label>
                <input name="name"
                       placeholder="Facebook"
                       type="text"
                       class="form-control"
                       id="name">

                <label for="description">Description</label>
                <textarea name="description"
                          rows="5"
                          placeholder="Enter your website description here!"
                          type="text"
                          class="form-control"
                          id="description"></textarea>

                <a class="btn btn-default btn-primary btn-block"
                   href="website-list.view.client.html"
                   role="button">Create</a>

                <a class="btn btn-default btn-danger btn-block"
                   href="website-list.view.client.html"
                   role="button">Cancel</a></div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-static-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="jgr-glyph-href" href="../../user/templates/profile.view.client.html">
                    <span class="pull-right glyphicon glyphicon-user"></span></a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>