<div>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <a class="navbar-brand" href="#">Profile</a>
            </div>
            <div class="col-lg-2">
                <ul class="nav navba-nav navbar-right">
                    <li><a class="jgr-glyph-href" href="profile.view.client.html">
                        <span class="pull-right glyphicon glyphicon-check"></span></a></li>
                </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <label for="firstName">First Name</label>
    <input name="firstName"
           ng-model="model.user.firstName"
           placeholder="John"
           type="text"
           class="form-control"
           id="firstName">

    <label for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="model.user.lastName"
           placeholder="Doe"
           type="text"
           class="form-control"
           id="lastName">

    <label for="username">Username</label>
    <input name="username"
           readonly
           ng-model="model.user.username"
           type="text"
           class="form-control"
           id="username">

    <label for="email">E-mail</label>
    <input name="email"
           placeholder="john123@email.com"
           type="email"
           class="form-control"
           id="email">

    <label for="dob">Date of Birth</label>
    <input name="dob"
           type="date"
           class="form-control"
           id="dob">

    <a class="btn btn-default btn-primary btn-block"
       href="../../website/website-list.html"
       role="button">Websites</a>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Logout</a>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.updateUser()"
       role="button">Update User</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.unregister()"
       role="button">Unregister</a>
</div>
<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="jgr-glyph-href" href="profile.view.client.html">
                <span class="pull-right glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>
</div>