<div class="container-fluid">
    <h2>Register</h2>
    <label for="firstName">First Name</label>
    <input name="firstName"
           placeholder="John"
           type="text"
           class="form-control"
           id="firstName">

    <label for="username">Username</label>
    <input name="username"
           placeholder="Username"
           type="text"
           class="form-control"
           id="username">

    <label for="password">Password</label>
    <input name="password"
           type="password"
           class="form-control"
           placeholder="tasf234"
           id="password">

    <label for="verifyPassword">Verify password</label>
    <input name="verifyPassword"
           type="password"
           class="form-control"
           placeholder="tasf234"
           id="verifyPassword">

    <a class="btn btn-default btn-primary btn-block"
       href="#!/profile/123"
       role="button">Register</a>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Cancel</a>
</div>